# ============================================
# SITIO GENERADO (JEKYLL)
# ============================================
# Esto ignora TODA la carpeta _site y subcarpetas
_site/

# ============================================
# ARCHIVOS Y CARPETAS DE JEKYLL / RUBY
# ============================================
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
vendor/
.bundle/

# ============================================
# SISTEMA OPERATIVO
# ============================================
*.ZoneIdentifier
.DS_Store
Thumbs.db
Gemfile
.ruby-version
bin/jekyll
Gemfile
Gemfile
Gemfile
